{% extends 'base.html' %}
{% block title %}Контакты{% endblock %}
{% block main %}
    <div class="contacts">
        <h3>Velit amet consectetur aliquip culpa do officia cupidatat.</h3>
        <p>
Sunt ea non fugiat et duis proident incididunt reprehenderit nisi nisi Lorem. Reprehenderit eiusmod ut sint incididunt fugiat incididunt magna eu eu duis excepteur. Enim cillum consequat reprehenderit exercitation occaecat tempor non ipsum ea adipisicing quis duis. Ea exercitation Lorem cupidatat nulla consequat ad aliqua consequat excepteur culpa in sit sit.
        </p>
    </div>
{% endblock %}