{% extends 'base.html' %}
{% load static %}
{% load cart_tag %}

{% block title %}Оформление заказа{% endblock title %}

{% block head %}
    <link rel='stylesheet' href="{% static 'css/order.less'%}" type="text/less"/>
{% endblock head %}

{% block main %}
    <p class="result">Итого: {{ request.session.cart|length }} товар(ов) на {{ cart_total_amount }} рублей</p>
    <form action="{% url 'order:makeorder' %}" method="POST" class="form">
        {% csrf_token %}
        {{ form.as_p }}
        <input type="submit" value="Оформить заказ" class="buyButton">
    </form>
{% endblock main %}

{% block footer %}
{% endblock footer %}