{% extends 'base.html' %}

{% load static %}

{% block head %}
    <link rel="stylesheet" href="{% static 'css/search.less' %}" type="text/less"/>
{% endblock %}

{% block main %}
    <div class="searchResults">
        {% for result in results %}
            <div class="result">
                <a href="{% url 'catalog:productDetail' result.id %}">
                    <img src="{{ result.review.url }}" alt="{{ result.name }}"/>
                </a>
                <a href="{% url 'catalog:productDetail' result.id %}" class="name">{{ result.name }}</a>
                <p class="price">{{ result.price }}</p>
            </div>
        {% endfor %}
    </div>
{% endblock %}